{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Campodocumento list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Tipo</th>
                <th>Obbligatorio</th>
                <th>Ordinamento</th>
                <th>Fieldset</th>
                <th>Ordinamentofieldset</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('campodocumento_show', { 'id': entity.id }) }}">{{ entity.nome }}</a></td>
                <td>{{ entity.descrizione }}</td>
                <td>{{ entity.tipo }}</td>
                <td>{{ entity.obbligatorio }}</td>
                <td>{{ entity.ordinamento }}</td>
                <td>{{ entity.fieldset }}</td>
                <td>{{ entity.ordinamentofieldset }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('campodocumento_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('campodocumento_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('campodocumento_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
