{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Campodocumento</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Idcampodocumento</th>
                <td>{{ entity.idcampodocumento }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('campodocumento') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('campodocumento_edit', { 'id': entity.idcampodocumento }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
