{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Campodocumento</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Descrizione</th>
                <td>{{ entity.descrizione }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Obbligatorio</th>
                <td>{{ entity.obbligatorio }}</td>
            </tr>
            <tr>
                <th>Ordinamento</th>
                <td>{{ entity.ordinamento }}</td>
            </tr>
            <tr>
                <th>Fieldset</th>
                <td>{{ entity.fieldset }}</td>
            </tr>
            <tr>
                <th>Ordinamentofieldset</th>
                <td>{{ entity.ordinamentofieldset }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

<div class="bottoniera">
        <a class="btn btn-default" href="{{ path('campodocumento') }}">
            Torna indietro
        </a>

        <a class="btn btn-default" href="{{ path('campodocumento_edit', { 'id': entity.id }) }}">
            Edit
        </a>

    <!-- <li>{{ form(delete_form) }}</li> -->
</div>
{% endblock %}
