<!DOCTYPE html>
<html>
<head>

    <title>RDA</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css', absolute=true) }}" rel="stylesheet" media="screen">
    {#<link href="http://symfony/rda/web/css/bootstrap.css" rel="stylesheet" media="screen">#}
    <link href="{{ asset('css/style.css', absolute=true) }}" rel="stylesheet" media="screen">
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/jackmoore-autosize/jquery.autosize.min.js', absolute=true) }}"></script>


    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js', absolute=true) }}"></script>
    <!-- Include FOSJsRoutingBundle, compiled by Assetic -->
    {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
    <script src="{{ asset('js/router.js', absolute=true) }}"></script>
    {#<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>#}

    {% block header %}

    {% endblock %}


    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/navbar.js', absolute=true) }}"></script>
        <script>


            var decodeHtmlEntity = function (str) {
                return str.replace(/&#(\d+);/g, function (match, dec) {
                    return String.fromCharCode(dec);
                });
            };

            var encodeHtmlEntity = function (str) {
                var buf = [];
                for (var i = str.length - 1; i >= 0; i--) {
                    buf.unshift(['&#', str[i].charCodeAt(), ';'].join(''));
                }
                return buf.join('');
            };


            $(document).ready(function () {


                var $textarea = $('textarea');
                $textarea.each(function () {

                            var fontSize = $(this).css('font-size').replace('px', '');
                            var lineHeight = Math.floor(parseInt(fontSize) * 1.5);

                            var lines = encodeHtmlEntity($(this).val()).split('&#10;');
                            var lineCount = 0;
                    /**
                     ATTENZIONE!!! il valore della variabile "numcols" rappresenta il numero di caratteri contenuti in una riga
                     di una textarea così come viene renderizzata allo stato attuale all'interno delle stampe.
                     Qualsiasi cambiamento alla grandezza di queste componenti comporterà un adeguamento di questa misura
                     per mantenere il corretto funzionamento del meccanismo di "autosizing" delle textarea all'interno dei file Pdf.
                     */
                    var numcols = 71;

                            for (var i = 0; i < lines.length; i++) {

                                if (decodeHtmlEntity(lines[i]).length > numcols) {

                                    lineCount +=Math.floor(decodeHtmlEntity(lines[i]).length/numcols)+1;
                                } else {
                                    lineCount++;
                                }
                            }

                            $(this).height(lineCount * lineHeight);
//                            $(this).val();


                        }
                );
            });
        </script>
    {% endblock %}

</head>

<body>
{#{% block navbar %}#}
{#{{ navbar() }}#}
{#{% endblock %}#}
<div class="left_block block_1">
    {% block sidebar %}{% endblock %}
</div>
<div class="header-logo"><img src="{{ asset('images/logoestar.png', absolute=true) }}"></div>
<div class="container">

    {% block body %}
        {{ form(form) }}
    {% endblock %}
</div>

</body>

</html>
