{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Modifica di una richiesta</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('homepage' }} ;">
                Homepage
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
        <li>{{ form(print_form) }}</li>
        {% for valida_form in valida_forms  %}
        <li>{{ form(valida_form) }}</li>
        {% endfor %}
    </ul>
{% endblock %}
