{% extends '::base.html.twig' %}



{% block body -%}
    <h1>Modifica di una richiesta</h1>

    <div class="bottoniera">

       <div class="bottoni">{{ form(back_form, {'attr': {'novalidate': 'novalidate'}}) }}</div>
        <div class="bottoni"> {{ form(print_form, {'attr': {'novalidate': 'novalidate'}}) }}</div>
        {% if (stato == 'bozza') or (stato == 'attesa_val_tec') or (stato == 'attesa_val_amm') or (stato == 'da_inviare_ESTAR') %}
            <div class="bottoni"> {{ form(delete_form, {'attr': {'novalidate': 'novalidate'}}) }}</div>
        {% endif %}

        {% if (stato=='inviata_ESTAR' ) %}
            <div class="bottoni"> {{ form(annulla_form, {'attr': {'novalidate': 'novalidate'}}) }}</div>
        {% endif %}

        {% if (diritti.isVA) and (stato=='da_inviare_ESTAR') %}
            <div class="bottoni"> {{ form(soap_form, {'attr': {'novalidate': 'novalidate'}}) }}</div>
        {% endif %}

        {% if (diritti.isAI and stato=='bozza') or (stato=='bozza') or (diritti.isVT and stato=='attesa_val_tec') or (diritti.isVA and stato=='attesa_val_amm')%}
            <div class="bottoni"> <button class="btn btn-primary" data-toggle="modal" data-target="#confirmModal"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Cambia Stato</button></div>
        {% endif %}

    </div>

    {{ form(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}






    <div class="modal fade" id="confirmModal"
         aria-hidden="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span class="sr-only">Chiudi</span>
                    </button>

                    <h4 class="modal-title">Messaggio di Notifica per avanzamento di Stato</h4>
                </div>

                <div class="modal-body">
                    {% for valida_form in valida_forms  %}
                        {{ form(valida_form) }}
                    {% endfor %}
                    <!--<textarea name="messaggio" style="width: 100%; height: 200px; border: 1px solid #c0c0c0;"></textarea>-->
                </div>
            </div>
        </div>
    </div>

{% endblock %}


