<thead>

<tr class="alert-info">
</tr>
<tr class="alert-info">
    <th>Data</th>
    <th>Utente/RUP</th>
    <th>Azienda</th>
    <th>Da Stato</th>
    <th>A Stato</th>
    <th>Protocollo</th>
    <th>Da Stato Gestav</th>
    <th>A Stato Gestav</th>
    <th>Motivazione</th>
    <th>Numero Atto Aggiudicazione</th>
    <th>Numero Protocollo Lettera</th>
</tr>
</thead>

<tbody>

<!-- TODO Ciclo che stampa tutto l'iter in base ad un idRichiesta -->
{% for entity in entities %}
<tr>

    <td>{{ entity.dataora|date('d-m-Y H:i:s') }}</td>
    <td>{% if entity.idutente.nomecognome=='Sistematica' and entity.rup is defined %}
           {{ entity.rup }}
    {% elseif entity.idutente.nomecognome=='Sistematica' %}
        In carico presso Estar
        {% else %}
            {{ entity.idutente.nomecognome  }}
        {% endif %}
    </td>
    <td>{{ entity.idutente.idazienda.nome }}</td>
    <td>{{ entity.dastato }}</td>
    <td>{{ entity.astato }}</td>
    <td>{{ entity.numeroprotocollo }}</td>
    <td>{{ entity.dastatogestav }}</td>
    <td>{{ entity.astatogestav }}</td>
    <td>{{ entity.motivazione }}</td>
    <td>{{ entity.numeroAttoAggiudicazione }}</td>
    <td>{{ entity.numeroProtocolloLettera }}</td>

</tr>
{% endfor %}
</tbody>