{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Richiesta</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Numeropratica</th>
                <td>{{ entity.numeropratica }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Numeroprotocollo</th>
                <td>{{ entity.numeroprotocollo }}</td>
            </tr>
            <tr>
                <th>Idrichiesta</th>
                <td>{{ entity.idrichiesta }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('richiesta') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('richiesta_edit', { 'id': entity.idrichiesta }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
