{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>
        <p>{{ 'Registrazione Confermata!'|trans({'%username%': user.username}) }}</p>
        {% if targetUrl %}
            <p>
                <a class="btn btn-default" href="{{ path('fos_user_security_logout') }}">
                    {{ 'Logout'|trans({}, 'FOSUserBundle') }}
                </a>
                <a class="btn btn-default" href="{{ path('fos_user_registration_register') }}">{{ 'Torna alla Registrazione'|trans }}</a>
                <a class="btn btn-default" href="{{ path('HomePage')}}">Homepage</a>
            </p>
        {% endif %}
    </p>
{% endblock fos_user_content %}
