{% extends "FOSUserBundle::layout.html.twig" %}

    {% block header %}
        {{parent()}}
        <link href="{{ asset('css/registration.css', absolute=true) }}" rel="stylesheet" media="screen">
    {% endblock %}

    {% block javascripts %}
        {{parent()}}
        <script type="text/javascript" src="{{ asset('js/registration.js', absolute=true) }}"></script>
        <script type="text/javascript">
        $(document).ready(function(){
        $('#homepageSelectBtnCategoria').prop('disabled',true);
        $('#homepageMostraTutte').prop('disabled',true);
        $('#homepageSelectCategoria').val('defaultDisabledNavbarOption');
        });
        </script>

    {% endblock %}

{% block body -%}
    {% if (((is_granted("ROLE_ADMIN")) and (is_granted("IS_AUTHENTICATED_REMEMBERED"))) or (is_granted("ROLE_MANAGER_USER"))) %}

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
                {% include "FOSUserBundle:Registration:register_content.html.twig" %}
            {% endblock fos_user_content %}
        </div>
    {% else %}

        <div>
            <p>
                Siamo spiacenti! <br>
                Per accedere a questa pagina devi essere autenticato come Amministratore.
            </p>
            {% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
                <a class="btn btn-default" href="{{ path('fos_user_security_logout') }}">Login come Amministratore</a>
            {% else %}
                <a class="btn btn-default" href="{{ path('fos_user_security_login') }}">Login come Amministratore</a>
            {% endif %}
        </div>

    {% endif %}
{% endblock %}