<html>
<body>
<h1>Buongiorno {{ nomecognome }}</h1>
<br>
<br>
<p>
    La richiesta con:
<ul type=”disc”>
    <li>id richiesta {{ idrichiesta }} (<b>protocollo {{ protocollo }}</b>)</li>
    <li>della categoria <b>{{ categoria }}</b></li>
    <li>si trova nello stato <b>{{ stato }}</li>
</ul>
<br>
Si prega di controllare sul portale.<br>
Il team di RDA<br>
<br>
Per informazioni scrivere ad <a href="mailto:assistenza.rda@estar.toscana.it">assistenza.rda@estar.toscana.it</a>

</p>
</body>
</html>
