<html>
<body>
<h1>Buongiorno {{ nomecognome }}</h1>
<br>
<br>
<p>
    La richiesta
    <br>
" {{ descrizione }} "
    <br>
    con:
<ul type=”disc”>
    <li>id richiesta {{ idrichiesta }} (<b>protocollo {{ protocollo }}</b>)</li>
    <li>della categoria <b>"{{ categoria }}"</b></li>
    <li>richiesta dall'azienda <b>{{ azienda }}</b></li>
    {% if aziendaRichiesta is defined %}
        <li>relativa alle aziende:</li>
    {% for aziendaR in aziendaRichiesta %}
    <li><b>{{ aziendaR }}</b></li>
    {% endfor %}
    {% endif %}
    <li>si trova nello stato <b>{{ stato }}</li>
</ul>
<br>
Si prega di controllare sul portale.<br>
Il team di RDA<br>
<br>
Per informazioni scrivere ad <a href="mailto:assistenza.rda@estar.toscana.it">assistenza.rda@estar.toscana.it</a>

</p>
</body>
</html>
