<html>
<body>
<h1>Buongiorno {{ nomecognome }}</h1>
<br>
<br>
<p>
    La richiesta con:
<ul>
    <lo>id richiesta {{ idrichiesta }} (<b>protocollo {{ protocollo }}</b>)</lo>
    <lo>della categoria <b>{{ categoria }}</b></lo>
    <lo>si trova nello stato <b>{{ stato }}</lo>
</ul>
<br>
Si prega di controllare sul portale.\r\n
Il team di RDA\r\n
<br>
Per informazioni scrivere ad <a href="mailto:assistenza.rda@estar.toscana.it">assistenza.rda@estar.toscana.it</a>

</p>
</body>
</html>
