<!DOCTYPE html>
<html>
<head>
    <title>RDA</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css', absolute=true) }}" rel="stylesheet" media="screen">
    {#<link href="http://symfony/rda/web/css/bootstrap.css" rel="stylesheet" media="screen">#}
    <link href="{{ asset('css/style.css', absolute=true) }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/sidebar.css', absolute=true) }}" rel="stylesheet" media="screen">
    <link href="https://www.estar.toscana.it/templates/accessiblepro/css/Estar_custom.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js', absolute=true) }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js', absolute=true) }}"></script>
    <!-- Include FOSJsRoutingBundle, compiled by Assetic -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('js/router.js', absolute=true) }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% block header %}
        <div class="form-group">            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <img src="{{ asset('images/logoestar.png') }}" alt="estar" />
            </div>
            <div class="col-md-6">
                <H1 class="text-primary">Portale Richieste di Acquisto</H1>
                <h3 class="text-primary">{{ applicativo }}</h3>
            </div>
        </div>
        <div class="form-group">            &nbsp;
        </div>
    {% endblock %}
</head>
<body>
    <div class="djfacl-djfacl2">
        <div class="testo">
            <p class="hidden-small">A partire dal <b>13 Maggio 2019</b> ESTAR ha rilasciato la seconda versione dell’applicativo RdA volta a superare alcune criticità strutturali dell’applicativo esistente.</p>
            <p class="hidden-small">Tutte le richieste di approvvigionamento di beni e servizi trasmesse a partire da tale data dovranno essere inviate dalla nuova versione mentre tutte le richieste generate precedentemente al 1° Maggio continueranno ad essere gestire sulla precedente versione.</p>
            <p class="hidden-small">Le funzionalità applicative e l’interfaccia di utilizzo delle due versioni sono molto simili ma per agevolarvi e supportarvi nell’utilizzo della nuova versione ESTAR mette a disposizione un team di assistenza sempre disponibile:</p>
            <ul>
                <li>
                    <p class="hidden-small">Assistenza telefonica 800814013</p>
                </li>
                <li>
                    <p class="hidden-small">Assistenza mail assistenza.rda@estar.toscana.it</p>
                </li>
            </ul>
            <p class="hidden-small">Il manuale utente è disponibile nella menù di RdA2 nella sezione “Documenti”.</p>
            <p class="hidden-small">Si ricorda infine che tutti gli utenti di RdA1 sono automaticamente attivi sulla versione RdA2 con la stessa profilazione/permessi precedenti. L’accesso avviene mediante la stessa email mentre la password dovrà essere modificata al primo accesso (e potrebbe differire da quella in uso sulla versione precedente dell’applicativo). Vi preghiamo di segnalare eventuali errori/malfunzionamento ai riferimenti per l’assistenza messi a disposizione.</p>

        </div>
    </div>

    <hr>
    <div class="djfacl-djfacl2">
        <div class="djfaclblock-djfacl2-1">
            <div class="module-content-djfacl2-1">
                <div class="custom">
                    <div>
                        <div class="immagine"><a href="./nuovo/login"><img title="RDA v.1" src="{{ asset('bundles/estarrda/images/richiesta-acquisto-bw.png') }}" alt="RDA v.1"></a></div>
                        {#<div class="immagine"><a href="/login"><img title="RDA v.1" src="https://www.logisticaefficiente.it/images/immagini-wikilogistica/richiesta-acquisto.jpg" alt="RDA v.1"></a></div>#}
                        <div class="testo">
                            <h2><a href="./nuovo/login">RDA v.1</a></h2>
                            <p><strong>Per tutte le richieste fino al 10/05/2019</strong></p>
                            {#<p class="hidden-small">Attuale applicativo per la gestione delle Richieste Di Acquisto.</p>#}
                        </div>
                        <div style="clear: both;">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="djfaclblock-djfacl2-1">
            <div class="module-content-djfacl2-1">
                <div class="custom">
                    <div>
                        <div class="immagine"><a href="{{ urlRDAv2 }}"><img title="RDA v.2" src="{{ asset('bundles/estarrda/images/richiesta-acquisto.png') }}" alt="RDA v.2"></a></div>
                        <div class="testo">
                            <h2><a href="{{ urlRDAv2 }}">RDA v.2</a></h2>
                            <p><strong>Per tutte le richieste a partire dal 10/05/2019</strong></p>
                            {#<p class="hidden-small">Nuovo applicativo per la gestione delle Richieste Di Acquisto.</p>#}
                        </div>
                        <div style="clear: both;">&nbsp;</div>
                    </div></div>
            </div>
        </div>
    </div>
    {#<div class="djfacl-djfacl2"><div class="djfaclblock-djfacl2-1">#}
            {#<div class="module-content-djfacl2-1">#}
                {#<div class="custom">#}
                    {#<div>#}
                        {#<div class="testo">#}
                            {#<h2><a href="/ns-cittadini">Informazioni</a></h2>#}
                            {#<p><strong>Carattere strong</strong></p>#}
                            {#<p class="hidden-small">Carattere small. Facci avere prima possibile il testo da copiare e incollare in questa sezione. </p>#}
                            {#<p>Immagino tu volgia qui inserire tutte le informazioni necessarie per permettere all'utente di selezionare questo pulsante</p>#}
                            {#<p class="hidden-small">Carattere small. Carattere small. Carattere small. Carattere small. Carattere small.</p>#}
                            {#<p class="hidden-small">Carattere small.</p>#}
                        {#</div>#}
                        {#<div style="clear: both;">&nbsp;</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="djfaclblock-djfacl2-1">#}
            {#<div class="module-content-djfacl2-1">#}
                {#<div class="custom">#}
                    {#<div>#}
                        {#<div class="testo">#}
                            {#<h2><a href="/ns-cittadini">Informazioni</a></h2>#}
                            {#<p><strong>Carattere strong</strong></p>#}
                            {#<p class="hidden-small">Carattere small. Facci avere prima possibile il testo da copiare e incollare in questa sezione. </p>#}
                            {#<p>Immagino tu volgia qui inserire tutte le informazioni necessarie per permettere all'utente di selezionare questo pulsante</p>#}
                            {#<p class="hidden-small">Carattere small. Carattere small. Carattere small. Carattere small. Carattere small.</p>#}
                            {#<p class="hidden-small">Carattere small.</p>#}
                        {#</div>#}
                        {#<div style="clear: both;">&nbsp;</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <div style="clear:both;">
    </div>
</body>