<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        &nbsp;
    </div>
    <div class="navbar-left navbar-brand"><a class="navbar-brand" href="{{ path('HomePage')}}"><b>RDA Online</b></a></div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">

        {#<form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Cerca">
            </div>
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
        </form>#}

        {% if is_granted("ROLE_USER") %}

        <form class="navbar-form navbar-left">
            <div class="form-group">
                <select id="homepageSelectCategoria" class="form-control">
                    {% if categoriaSelezionata != '' %}
                        <option value="defaultDisabledNavbarOption" disabled>Seleziona una categoria:</option>
                    {% else %}
                        <option value="defaultDisabledNavbarOption" disabled selected>Seleziona una categoria:</option>
                    {% endif %}
                    {% for entity in categoria %}
                        {% if entity.id == categoriaSelezionata %}
                            <option value="{{ entity.id }}" type="text" selected>({{ entity.area }}) {{ entity.descrizione }}</option>
                        {% else %}
                            <option value="{{ entity.id }}" type="text">({{ entity.area }}) {{ entity.descrizione }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

            <button type="button" id="homepageSelectBtnCategoria" class="btn btn-default">Nuova</button>
                <button type="button" id="homepageMostraTutte"  class="btn btn-default">Mostra</button>
            </div>
        </form>


        <ul class="nav navbar-right">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Benvenuto, <b>{{ app.user.username|upper }}</b>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('fos_user_profile_show') }}">Visualizza Utente</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_change_password') }}">Cambio Password</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                </ul>
            </li>

        </ul>


            <!--<button type="button" id="homepageSelectBtnCategoria" class="btn btn-default"><a href="{{ path('HomePage')}}">Indietro</a></button>-->




        {% endif %}

    </div><!-- /.navbar-collapse -->
</nav>