{% extends '::base.html.twig' %}

{% block javascripts %}

    <script type="text/javascript">
        $.ajax({
            type: "GET",
            async: false,
            url: Routing.generate('navbarSelectedSessionClear'),
            /*success: function(data)
             {
             var myjson = $.parseJSON(data);
             alert(" ecco: "+myjson.homepageSelectCategoria);
             }*/
        });
    </script>

    {{parent()}}

    <script type="text/javascript" src="{{ asset('js/homepage.js') }}"></script>

{% endblock %}

{% block body -%}

    <h3>Benvenuto sul portale delle Richieste d'Acquisto.</h3>
    <h5>Le tue statistiche</h5>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Descrizione</th>
                <th>Categorie</th>
            </tr>
            <tr>
                <td><strong>{{ nbozza }}</strong></td>
                <td> Richieste in <strong>Stato Bozza</strong> da inviare per la validazione Tecninca</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>{{ nvaltec }}</strong></td>
                <td> Richieste in <strong>Attesa di Validazione Tecnica</strong> da inviare per la validazione Amministrativa</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>{{ nvalamm }}</strong></td>
                <td> Richieste in <strong>Attesa di Valutazione Amministrativa</strong></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>{{ ndainvABS }}</strong></td>
                <td> Richieste in <strong>Attesa di essere inoltrate in ESTAR</strong></td>
                <td></td>
            </tr>
        </table>
    </div>
    <p>Seleziona una Categoria per cominciare.</p>
{% endblock %}