{% extends '::base.html.twig' %}

{% block javascripts %}

    <script type="text/javascript">
        $.ajax({
            type: "GET",
            async: false,
            url: Routing.generate('navbarSelectedSessionClear'),
            /*success: function(data)
             {
             var myjson = $.parseJSON(data);
             alert(" ecco: "+myjson.homepageSelectCategoria);
             }*/
        });
    </script>

    {{parent()}}

    <script type="text/javascript" src="{{ asset('js/homepage.js') }}"></script>

{% endblock %}

{% block body -%}

    <h3>Benvenuto sul portale delle Richieste d'Acquisto.</h3>
    <h5>Le tue statistiche</h5>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Descrizione</th>
                <th>Categorie</th>
            </tr>
            {% for bozza in nbozza %}
                <tr>
                    <td><strong>{{ bozza['numero'] }}</strong></td>
                    <td> Richieste in <strong>Stato Bozza</strong> da inviare per la validazione Tecninca</td>
                    <td><a href="{{ path('richiesta_bycategoria', { 'idCategoria': bozza['idcat'] }) }}"><strong>{{ bozza['descrizionecategoria'] }}</strong></a> </td>
                </tr>
            {% endfor %}
            {% for veltec in nvaltec %}
                <tr>
                    <td><strong>{{ veltec['numero'] }}</strong></td>
                    <td> Richieste in <strong>Attesa di Validazione Tecnica</strong> da inviare per la validazione Amministrativa</td>
                    <td><a href="{{ path('richiesta_bycategoria', { 'idCategoria': bozza['idcat'] }) }}"><strong>{{ bozza['descrizionecategoria'] }}</strong></a> </td>
                </tr>
            {% endfor %}
            {% for valamm in nvalamm %}
                <tr>
                    <td><strong>{{ valamm['numero'] }}</strong></td>
                    <td> Richieste in <strong>Attesa di Valutazione Amministrativa</strong></td>
                    <td><a href="{{ path('richiesta_bycategoria', { 'idCategoria': bozza['idcat'] }) }}"><strong>{{ bozza['descrizionecategoria'] }}</strong></a> </td>
                </tr>
            {% endfor %}
            {% for dainv in ndainvABS %}
                <tr>
                    <td><strong>{{ dainv['numero'] }}</strong></td>
                    <td> Richieste in <strong>Attesa di essere inoltrate in ESTAR</strong></td>
                    <td><a href="{{ path('richiesta_bycategoria', { 'idCategoria': bozza['idcat'] }) }}"><strong>{{ bozza['descrizionecategoria'] }}</strong></a> </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <p>Seleziona una Categoria per cominciare.</p>
{% endblock %}