{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Valorizzazionecampodocumento</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Valore</th>
                <td>{{ entity.valore }}</td>
            </tr>
            <tr>
                <th>Idvalorizzazionecampodocumentocol</th>
                <td>{{ entity.idvalorizzazionecampodocumentocol }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('valorizzazionecampodocumento') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('valorizzazionecampodocumento_edit', { 'id': entity.idvalorizzazionecampodocumentocol }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
