{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Richiestadocumento</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Datainvio</th>
                <td>{{ entity.datainvio|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Numeroprotocollo</th>
                <td>{{ entity.numeroprotocollo }}</td>
            </tr>
            <tr>
                <th>Filepath</th>
                <td>{{ entity.filepath }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

<div class="bottoniera">
        <a class="btn btn-default" href="{{ path('richiestadocumento') }}">
            Torna indietro
        </a>

        <a class="btn btn-default" href="{{ path('richiestadocumento_edit', { 'id': entity.id }) }}">
            Edit
        </a>

    <!-- <li>{{ form(delete_form) }}</li> -->
    </div>
{% endblock %}
