{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Valorizzazionecamporichiesta</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Valore</th>
                <td>{{ entity.valore }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

<div class="bottoniera">
        <a class="btn btn-default" href="{{ path('valorizzazionecamporichiesta') }}">
            Torna indietro
        </a>
        <a class="btn btn-default" href="{{ path('valorizzazionecamporichiesta_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    <!-- <li>{{ form(delete_form) }}</li> -->
</div>
{% endblock %}
