{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Campo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Descrizione</th>
                <td>{{ entity.descrizione }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Obbligatorioinserzione</th>
                <td>{{ entity.obbligatorioinserzione }}</td>
            </tr>
            <tr>
                <th>Obbligatoriovalidazionetecnica</th>
                <td>{{ entity.obbligatoriovalidazionetecnica }}</td>
            </tr>
            <tr>
                <th>Ordinamento</th>
                <td>{{ entity.ordinamento }}</td>
            </tr>
            <tr>
                <th>Fieldset</th>
                <td>{{ entity.fieldset }}</td>
            </tr>
            <tr>
                <th>Obbligatoriovalidazioneamministrativa</th>
                <td>{{ entity.obbligatoriovalidazioneamministrativa }}</td>
            </tr>
            <tr>
                <th>Padre</th>
                <td>{{ entity.padre }}</td>
            </tr>
            <tr>
                <th>Dataattivazione</th>
                <td>{{ entity.dataattivazione|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datadismissione</th>
                <td>{{ entity.datadismissione|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('campo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('campo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <!-- <li>{{ form(delete_form) }}</li> -->
</ul>
{% endblock %}
