{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Campo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Descrizione</th>
                <td>{{ entity.descrizione }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Obbligatorioinserzione</th>
                <td>{{ entity.obbligatorioinserzione }}</td>
            </tr>
            <tr>
                <th>Obbligatoriovalidazione</th>
                <td>{{ entity.obbligatoriovalidazione }}</td>
            </tr>
            <tr>
                <th>Ordinamento</th>
                <td>{{ entity.ordinamento }}</td>
            </tr>
            <tr>
                <th>Fieldset</th>
                <td>{{ entity.fieldset }}</td>
            </tr>
            <tr>
                <th>Idcampo</th>
                <td>{{ entity.idcampo }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('campo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('campo_edit', { 'id': entity.idcampo }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
